@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,600,700&display=swap');


/* purgecss start ignore */

@tailwind base;

@tailwind components;
/* purgecss end ignore */

@tailwind utilities;




body {
  font-family: 'IBM Plex Sans', sans-serif;
}

.truncate-1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.truncate-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.truncate-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}


.scrollbar_hidden::-webkit-scrollbar {
  display: none;
}

button:focus {
  border: none;
  outline: none;
}