.customOverlay {
    background: rgba(36, 123, 160, 0.7);
}

.customModal {
    background: #b2dbbf;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
}


.react-responsive-modal-modal {
    min-width: 100%;
    min-height: 100%;
    position: relative;
    padding: 1.2rem;
    background: #ffffff;
    background-clip: padding-box;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
    margin: 0 auto;
}